body{
    background-color: aqua;
}
input:focus{
    outline: none;
}
input{
    background-color: lightgrey;
    border: none;
    height: 1.5rem;
    width: 100%;   
}
.task-form input {
    width: 60%;
}
.App {
    text-align: center;
    margin-top: 2rem;
  }
  
  .task-form {
    margin-bottom: 1rem;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-left: 3rem;
  }
  
  button {
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
    
  }
/* App.css */
.task-list-circle{
    list-style-type: circle; /* Change to 'square' or 'disc' for different styles */
    padding-left: 20px; /* Add some left padding to create space for the bullet */
}
  
.task-list-circle li{
    margin-bottom: 5px;
}
  
.add{
    background: blue;
    color: white;
    border: none;
    height: 1.5rem;
}
.delete{
    background-color: red;
    color: white;
}
.edit{
    background-color: yellow;
    /* color : white; */
}
.edit:hover, .delete:hover {
    background-color: #d0d0d0;
  }
.edit, .delete {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
}
  
 